
# --- Git ---
.git
.gitignore

# --- Node / Tailwind ---
node_modules/
static/css/output.css

# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# --- Logs & temp files ---
*.log
tmp/
*.tmp

# --- OS / Editor junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Env (Secrets) ---
.env

# --- Example: force include important file ---
!src/important_config.json
